<script src="{{ 'linear-by-footage.js' | asset_url }}" defer></script>

{% assign one_inch_kit = '' %}
{% assign one_inch_kit_text = '' %}
{% assign ten_inch_kit = '' %}
{% assign ten_inch_kit_text = '' %}
{% assign driver = '' %}
{% assign driver_text = '' %} 

<div class="bill-of-material">
  <h2 class="bill-heading font-neue-light">Bill of Materials</h2>
  <p class="bill-price font-neue-roman">Total Price: <span id="total-amount">$0</span></p>
  {% assign configurations_list = product.metafields.custom.configurations.value %}
  {% for config_entry in configurations_list %}
    {% comment %} FIRST LETS RESOLVE MOUNTING OPTIONS  {% endcomment %}
    {% for mounting_list in config_entry.mounting_options.value %}
      {% case mounting_list.mounting_type.value %}
      {% when "45 Deg Track" %}
        {% assign fourty_five_degree_track = mounting_list.mounting_product.value %}
        {% assign fourty_five_degree_track_text = mounting_list.display_name %}
      {% when "Flat Track" %}
        {% assign flat_mounting_kit = mounting_list.mounting_product.value %}
        {% assign flat_mounting_kit_text = mounting_list.display_name %}
      {% endcase %}
    {% endfor %}
    {% comment %} ----------------------  {% endcomment %}
    {% for linear_list in config_entry.linear_options.value %}
    {% comment %} SET PRODUCTS TO THEIR RESPECTIVE OPTIONS [TRIAC - PHASEX] {% endcomment %}
      {%for sku_entry in linear_list.linear_skus.value%}
        {% if sku_entry.sku_type.value == linear_list.display_title  %}
          {% case sku_entry.type.value %}
          {% when "1' Kits" %}
            {% assign one_inch_kit = sku_entry.linear_product.value %}
            {% assign one_inch_kit_text = sku_entry.display_title %}
          {% when "10' Kits" %}
            {% assign ten_inch_kit = sku_entry.linear_product.value %}
            {% assign ten_inch_kit_text = sku_entry.display_title %}
          {% when "Drivers" %}
            {%assign driver = sku_entry.linear_product.value %}
            {% assign driver_text = sku_entry.display_title %}
          {% endcase %}
        {% endif %}
      {% endfor %}
    {% comment %} ----------------------  {% endcomment %}
      {% assign option_name = linear_list.display_title | handleize %}
      <div class="bill-contents" id="bill-contents-{{ option_name }}" >

          <div class="bill-content">
              <div class="bill-content-left">
                  <span class="font-neue-roman">10' Kits</span>
                  <div class="quantity-control">
                      <button type="button" class="quantity-btn minus font-neue-roman" aria-label="Decrease Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
                          </svg>
                      </button>
                      <input data-product-id="{{ ten_inch_kit.variants[0].id }}" sku="{{ ten_inch_kit.variants[0].sku }}" price="{{ ten_inch_kit.variants[0].price }}" type="number" id="tenInchKits" name="quantity" value="1" min="1" aria-label="Quantity" class="font-neue-roman">
                      <button type="button" class="quantity-btn plus font-neue-roman" aria-label="Increase Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="bill-content-right">
                  <p class="font-neue-roman">{{ten_inch_kit_text}}</p>
              </div>
          </div>

          <div class="bill-content">
              <div class="bill-content-left">
                  <span class="font-neue-roman">1' Kits</span>
                  <div class="quantity-control">
                      <button type="button" class="quantity-btn minus font-neue-roman" aria-label="Decrease Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
                          </svg>
                      </button>
                      <input data-product-id="{{ one_inch_kit.variants[0].id }}" sku="{{ one_inch_kit.variants[0].sku }}" price="{{ one_inch_kit.variants[0].price }}" type="number" id="oneInchKits" name="quantity" value="1" min="1" aria-label="Quantity" class="font-neue-roman">
                      <button type="button" class="quantity-btn plus font-neue-roman" aria-label="Increase Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="bill-content-right">
                  <p class="font-neue-roman">{{one_inch_kit_text}} </p>
              </div>
          </div>

          <div class="bill-content">
              <div class="bill-content-left">
                  <span class="font-neue-roman">Flat Mounting Kits</span>
                  <div class="quantity-control">
                      <button type="button" class="quantity-btn minus font-neue-roman" aria-label="Decrease Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
                          </svg>
                      </button>
                      <input data-product-id="{{ flat_mounting_kit.variants[0].id }}" sku="{{ flat_mounting_kit.variants[0].sku }}" price="{{ flat_mounting_kit.variants[0].price }}" type="number" id="mountingKits" name="quantity"  min="1" aria-label="Quantity" class="font-neue-roman">
                      <button type="button" class="quantity-btn plus font-neue-roman" aria-label="Increase Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="bill-content-right">
                  <p class="font-neue-roman">{{  flat_mounting_kit_text }} </p>
              </div>
          </div>

          <div class="bill-content">
              <div class="bill-content-left">
                  <span class="font-neue-roman">45° Mounting Kits</span>
                  <div class="quantity-control">
                      <button type="button" class="quantity-btn minus font-neue-roman" aria-label="Decrease Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
                          </svg>
                      </button>
                      <input data-product-id="{{ fourty_five_degree_track.variants[0].id }}" sku="{{ fourty_five_degree_track.variants[0].sku }}" price="{{ fourty_five_degree_track.variants[0].price }}" type="number" id="mountingKits45deg" name="quantity"  min="1" aria-label="Quantity" class="font-neue-roman">
                      <button type="button" class="quantity-btn plus font-neue-roman" aria-label="Increase Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="bill-content-right">
                  <p class="font-neue-roman">{{  fourty_five_degree_track_text }} </p>
              </div>
          </div>

          <div class="bill-content">
              <div class="bill-content-left">
                  <span class="font-neue-roman">Drivers</span>
                  <div class="quantity-control">
                      <button type="button" class="quantity-btn minus font-neue-roman" aria-label="Decrease Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
                          </svg>
                      </button>
                      <input data-product-id="{{ driver.variants[0].id }}" sku="{{ driver.variants[0].sku }}" type="number" price="{{ driver.variants[0].price }}" id="drivers" name="quantity" value="1" min="1" aria-label="Quantity" class="font-neue-roman">
                      <button type="button" class="quantity-btn plus font-neue-roman" aria-label="Increase Quantity">
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="bill-content-right">
                  <p class="font-neue-roman">{{  driver_text  }} </p>
              </div>
          </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
{% if customer and product.id == 9982461804855%}
  <!-- Added Fixture Type Accordion -->
  <fixture-accordion>
    <div class="fixture-accordion">
      <div class="fixture-accordion-header">
        <h2 class="fixture-accordion-trigger">
          <div class="font-neue-roman fixture-area">Fixture Type / Project <div class="tooltips">
            <svg width="11" height="11" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="16" height="16" rx="8" stroke="#292521"/>
              <path d="M7.75 9.73684V9.42105C7.75 8.76316 8 8.39474 8.92105 7.6579C9.72368 7.02632 9.93421 6.71053 9.93421 6.19737C9.93421 5.4079 9.39474 4.94737 8.48684 4.94737C7.53947 4.94737 7.02632 5.44737 7.02632 6.39474V6.5H6V6.28947C6 4.82895 6.89474 4 8.5 4C10.0263 4 11 4.81579 11 6.07895C11 7.02632 10.7237 7.46053 9.69737 8.28947C8.94737 8.89474 8.77632 9.10526 8.77632 9.48684V9.73684H7.75ZM8.34211 13C7.77632 13 7.35526 12.5789 7.35526 12.0132C7.35526 11.4474 7.77632 11.0263 8.34211 11.0263C8.9079 11.0263 9.32895 11.4474 9.32895 12.0132C9.32895 12.5789 8.9079 13 8.34211 13Z" fill="#292521"/>
            </svg>
            <div class="tooltip-text font-neue-roman">
              <span class="metafield-rich_text_field">
                  <p>Enter a label or description for this fixture to identify its type or placement on the jobsite.</p>
              </span>
            </div>
          </div></div>
          <svg class="fixture-plusIcon" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.71667 0.5L6.71667 13.5M0 7H6.71667L13 7" stroke="#5A5857" stroke-width="1.5"></path>
          </svg>
          <svg class="fixture-minusIcon" width="13" height="2" viewBox="0 0 13 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1L6.71667 1L13 1" stroke="#5A5857"></path>
          </svg>
        </h2>
      </div>
      <div class="fixture-accordion-content">
        {% render 'fixture-type' %}
      </div>
    </div>
  </fixture-accordion>
  {% endif %}

  <!-- Added CSS for Fixture Type Accordion -->
<style>
  .fixture-minusIcon{
    display: none;
  }

  .fixture-plusIcon{
    display: block;
    width: 13px;
    height: 13px;
  }

  .fixture-accordion-trigger[aria-expanded=true] .fixture-plusIcon{
    display: none;
  }

  .fixture-accordion-trigger[aria-expanded=true] .fixture-minusIcon{
    display: block;
  }

  .fixture-accordion-header {
    position: relative;
  }

  .fixture-accordion-trigger {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    min-height: 42px;
    padding-right: 13px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px 0px 3px;
    padding-bottom: 8px;
  }

  .fixture-accordion-content {
    display: none;
    margin-top: 15px;
  }

  .fixture-accordion-content.active {
    display: block;
    margin-bottom: 40px;
  }

  .fixture-area{
    position: relative;
  }

  .tooltips {
      position: absolute;
      right: 0;
      top: -4px;
      left: 102%;
      z-index: 9;
      width: 11px;
  }

  .tooltips .tooltip-text {
    background-color: #f9f6f3;
    padding: 11px;
    border: .75px solid #C2BFBA;
    border-radius: 8px;
    position: absolute;
    bottom: 33px;
    left: -83px;
    width: 253.5px;
    min-width: 253.5px;
    max-width: 90%;
    transition: .3s all;
    opacity: 0;
    visibility: hidden;
  }

  .tooltips:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }

  .fixture-area .tooltips span.metafield-rich_text_field {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .fixture-area .tooltips span.metafield-rich_text_field p{
    font-size: 11px;
    line-height: 16px;
    color: #5a5857;
    letter-spacing: .5px;
    margin: 0;
    font-weight: 450;
  }

  .tooltips .tooltip-text:before{
    content: "";
    position: absolute;
    bottom: -9px;
    left: calc(32% + 1px);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #f9f6f3;
    z-index: 1;
  }
</style>

<script>
    //these variables are used in linear-by-footage.js
    let tenInchKitProduct = {{ ten_inch_kit | json }};
    let oneInchkitProduct = {{  one_inch_kit | json  }};
    let flatMountingKitProduct = {{  flat_mounting_kit | json  }};
    let driverProduct = {{  driver | json  }};
</script>



<!-- Add JavaScript for Fixture Accordion -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Fixture accordions
    const accordionTrigger = document.querySelector('.fixture-accordion-trigger');
    const accordionContent = document.querySelector('.fixture-accordion-content');
    
    if(accordionTrigger && accordionContent) {
      accordionTrigger.addEventListener('click', function() {
        const isExpanded = this.getAttribute('aria-expanded') === 'true';
        
        this.setAttribute('aria-expanded', !isExpanded);
        accordionContent.classList.toggle('active');
      });
    }
  });

  // Function to validate all inputs inside a selector and handle Add to Cart button/error
  function validateInputsAndToggleAddToCart() {
    // Change this selector as needed to target the correct container
    const inputElements = document.querySelectorAll('.quantity-control input');
    let errorMessage = '';
    let hasError = false;

    for (var i = 0; i < inputElements.length; i++) {
      var input = inputElements[i];
      const value = parseFloat(input.value);

      if (value > 2000) {
        hasError = true;
        errorMessage = 'All values must be between 1 and 2000.';
        break
      } else {
        hasError = false;
        errorMessage = '';
      }
    }

    const addToCartBtn = document.getElementById('pc-linear-add-to-cart');
    let errorElem = document.getElementById('add-to-cart-error-message');

    if (hasError) {
      addToCartBtn.setAttribute('disabled', true);
      errorElem.textContent = errorMessage;
      errorElem.style.display = 'block';
    } else {
      addToCartBtn.removeAttribute('disabled');
      errorElem.textContent = '';
      errorElem.style.display = 'none';
    }
  }

  // Attach event listeners to all relevant inputs
  document.addEventListener('DOMContentLoaded', function() {
    
    const inputElements = document.querySelectorAll('.quantity-control input');
    inputElements.forEach(function(input) {
      input.addEventListener('keyup', validateInputsAndToggleAddToCart);
      input.addEventListener('change', validateInputsAndToggleAddToCart);
    });

  });

  
</script>

{% comment %} for the testing -- should be available in uat environment {% endcomment %}
{% if customer.b2b? %}
<button id="pc-linear-add-to-cart" class="make-selections-btn fone-neue-roman" type="button" disabled>
    <span>
        Add to Cart 
    </span>
    <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.04 11.49">
        <defs>
            <style>.cls-1{stroke-miterlimit:5;}.cls-1,.cls-2{fill:none;stroke:#000;stroke-width:1.5px;}.cls-2{stroke-linejoin:round;}</style>
        </defs>
        <g id="Layer_2-2">
            <polyline class="cls-1" points="12.45 .54 17.95 5.74 12.45 10.94"></polyline>
            <line class="cls-2" y1="5.74" x2="17.95" y2="5.74"></line>
        </g>
    </svg>
</button>
{% else %}
  {% render 'contact-us-button' %}
{% endif %}
<span id="add-to-cart-error-message" class="error"></span>

<input type="hidden" id="parentProductTitle" value="{{ product.title }}">
<input type="hidden" id="parentProductVariantId" value="{{ product.variants[0].id }}">
<input type="hidden" id="parentProductURL" value="{{ product.url }}">
