
{%- capture cart_data_formatted -%}
  {
    "cart": {
      "token": "{{- cart.token -}}",
      "item_count": "{{- cart.item_count -}}",
      "items_subtotal_price": "{{- cart.items_subtotal_price -}}",
      "total_price": "{{- cart.total_price -}}",
      "total_discount": "{{- cart.total_discount -}}",
      "currency": "{{- cart.currency -}}",
      "requires_shipping": "{{- cart.requires_shipping -}}",
      "note": "{{- cart.note -}}",
      "attributes": [
        {%- assign attr_index = 0 -%}
        {%- for attribute in cart.attributes -%}
          {%- if attr_index > 0 -%}, {%- endif -%}
          {"key": "{{- attribute.first -}}", "value": "{{- attribute.last -}}"}
          {%- assign attr_index = attr_index | plus: 1 -%}
        {%- endfor -%}
      ],
      "cart_level_discount_applications": [
        {%- if cart.cart_level_discount_applications and cart.cart_level_discount_applications.size > 0 -%}
          {%- for disc in cart.cart_level_discount_applications -%}
            {"title": "{{- disc.title -}}", "type": "{{- disc.type -}}", "total_allocated_amount": "{{- disc.total_allocated_amount -}}"}
            {%- unless forloop.last -%}, {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      ],
      
      "items": [
        {%- for item in cart.items -%}
          {
            "id": "{{- item.id -}}",
            "key": "{{- item.key -}}",
            "quantity": "{{- item.quantity -}}",
            "sku": "{{- item.sku -}}",
            "vendor": "{{- item.vendor -}}",
            "gift_card": "{{- item.gift_card -}}",
            "requires_shipping": "{{- item.requires_shipping -}}",
            "line_price": "{{- item.line_price -}}",
            "final_line_price": "{{- item.final_line_price -}}",
            "discounted": "{{- item.discounted -}}",
            "product": {
              "id": "{{- item.product.id -}}",
              "title": "{{- item.product.title | escape -}}",
              "handle": "{{- item.product.handle -}}",
              "type": "{{- item.product.type -}}",
              "tags": [
                {%- for tag in item.product.tags -%}"{{- tag -}}"{%- unless forloop.last -%}, {%- endunless -%}{%- endfor -%}
              ]
            },
            "image_url": "{%- if item.image -%}{{- item.image | img_url: 'master' -}}{%- endif -%}",
            "variant": {
              "id": "{{- item.variant.id -}}",
              "title": "{{- item.variant.title | escape -}}",
              "sku": "{{- item.variant.sku -}}",
              "price": {"amount": "{{- item.final_price | divided_by: 100.0 -}}", "currencyCode": "{{- cart.currency -}}"}
            },
            "properties": [
              {%- assign prop_index = 0 -%}
              {%- for property in item.properties -%}
                {%- assign property_first_char = property.first | slice: 0 -%}
                {%- if property.last != blank and property_first_char != '_' -%}
                  {%- if prop_index > 0 -%}, {%- endif -%}
                  {"key": "{{- property.first -}}", "value": "{{- property.last -}}"}
                  {%- assign prop_index = prop_index | plus: 1 -%}
                {%- endif -%}
              {%- endfor -%}
            ],
            "all_properties": {
              {%- assign all_prop_index = 0 -%}
              {%- for property in item.properties -%}
                {%- if property.first == "Fixture Type" or property.first == "PRODUCT_SKU" -%}
                {%- if property.last != blank -%}
                  {%- if all_prop_index > 0 -%},{%- endif -%}
                    "{{- property.first -}}": "{{- property.last  -}}"
                    {%- assign all_prop_index = all_prop_index | plus: 1 -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            },
            "components": [
              {%- if item.item_components and item.item_components.size > 0 -%}
                {%- for component in item.item_components -%}
                  {
                    "product_id": "{{- component.product.id -}}",
                    "variant_id": "{{- component.variant.id -}}",
                    "quantity": "{{- component.quantity -}}",
                    "handle": "{{- component.product.handle -}}",
                    "title": "{{- component.product.title | escape -}}",
                    "variant_title": "{{- component.variant.title | escape -}}",
                    "price": {"amount": "{{- component.final_price | default: component.variant.price | divided_by: 100.0 -}}", "currencyCode": "{{- cart.currency -}}"},
                    "sku": "{{- component.sku -}}",
                    "image_url": "{%- if component.image -%}{{- component.image | img_url: 'master' -}}{%- endif -%}"
                  }{%- unless forloop.last -%}, {%- endunless -%}
                {%- endfor -%}
              {%- endif -%}
            ]
          }{%- unless forloop.last -%}, {%- endunless -%}
        {%- endfor -%}
      ]
    }
  }
{%- endcapture -%}
{% comment %} cartData="{{ cart_data_formatted }}" {% endcomment %}
<div style="display: none;" id="cart-data-formatted" cartData="{{- cart_data_formatted | escape -}}" ></div>