{% comment %}
  Renders a right-side menu for the header.

  Usage:
  {% render 'header-menu-right' %}
{% endcomment %}

{% if customer %}
  {% assign menu = linklists['logged-in-header-menu-right'] %}
{% else %}
  {% assign menu = linklists['header-main-menu-right'] %}
{% endif %}

<nav class="header__inline-menu header__inline-menu--right">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in menu.links -%}
      <li>
        {% if link.title == 'Products' %}
          <header-menu>
            <details id="Details-HeaderMenuRight-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenuRight-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </summary>
              
              <!-- Your mega menu dropdown content -->
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <!-- Content here -->
              </div>
            </details>
          </header-menu>
        
          {% elsif link.title == 'Why DMF' %}
            <!-- Dropdown for Why DMF -->
            {% if customer %}
              {% assign whyDMFMenu = linklists['dealers-why-dmf-dropdown'] %}
            {% else %}
              {% assign whyDMFMenu = linklists['why-dmf-dropdown'] %}
            {% endif %}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="header__menu-item list-menu__item link focus-inset"
                >
                  <a class="why-dmf-menu-item" href="{{ link.url }}"
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </a>
                </summary>
                
                <div
                  id="MegaMenu-Content-{{ forloop.index }}"
                  class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                  tabindex="-1"
                >
                  <div class="main-menu-container page-width">
                    <ul class="mega-menu__list" role="list">
                      {%- for childlink in whyDMFMenu.links -%}
                        <li class="mega-menu-level-2">
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>

                    <a href="{{ section.settings.whydmf_mega_menu_url_right }}" class="mega-menu-right-img">
                      <img src="{{ section.settings.whydmf_mega_menu_img_right | img_url: 'master' }}" width="313" height="197" alt="mega menu image" />
                    </a>
                  </div>
                </div>
              </details>
            </header-menu>

        {% elsif link.title == 'Solutions' %}
            <!-- Dropdown for Solutions -->
            <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <a href="{{ link.url }}"
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </a>
              </summary>
                
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="main-menu-container page-width">
                  <ul
                    class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {% for childlink in linklists.solutions-dropdown.links -%}
                      <li class="mega-menu-level-2">
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <a href="{{ section.settings.solutions_mega_menu_url_right }}" class="mega-menu-right-img">
                    <img src="{{ section.settings.solutions_mega_menu_img_right | img_url: 'master' }}" width="313" height="197" alt="mega menu image" />
                  </a>
                </div>
              </div>
            </details>
          </header-menu>
        {% else %}
          <a id="HeaderMenuRight-{{ link.handle }}" href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset" {% if link.current %} aria-current="page" {% endif %}>
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {% endif %}
      </li>
    {%- endfor -%}
    
    {% if customer %}
      <li>
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          Cart
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              <span aria-hidden="true">{{ cart.item_count }}</span>
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </li>
    {% else %}
      {% comment %} <li>
        <a href="{{ routes.account_login_url }}" class="login btn-mobile">
          Dealer Login
        </a>
      </li> {% endcomment %}
    {% endif %}
  </ul>
</nav>