{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}

  /* The Modal (background) */
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-search-container {
    display: flex;
    gap: 16px;
    position: relative;
    flex-wrap: wrap;
    margin-top: 20px;
}

.modal-content {
    background-color: #F9F6F3;
    margin: 0px auto;
    padding: 39px 32px 62px;
    border: 0px solid #888;
    width: 1058px;
    max-width: 80%;
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 0px 30px #0000007a;
    height: 705px;
    max-height: 90vh;
    overflow-y: auto;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content .list-view-item {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    gap: 0px 45px;
}

div#modalDescription p {
    word-break: break-word;
    margin-top: 0px;
    margin-bottom: 19px;
    color: rgba(90, 88, 87, 1);
    font-size: 16px;
    line-height: 26px;
}

div#modalDescription ul {
    list-style: none;
    padding-left: 0px;
    column-count: 2;
    margin: 0px;
}

div#modalDescription ul li {
    width: 50%;
    color: rgba(90, 88, 87, 1);
    font-size: 16px;
    line-height: 26px;
}

  .product-form__input.product-form__quantity {
    display: inline-block;
}
.modal-content .prod-info .add-to-cart-wrapper {
  width: 72%;
  max-width: 476px;
}

.modal-content .prod-info button.add_to_cart.button.primary {
    position: relative;
    width:100%;
    justify-content: space-between;
    font-size: 16px;
    line-height: 23px;
    height: 50px;
    margin-top: 0px;
}

div#myModal .prod-info form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    gap: 0px 10px;
    flex-flow: column;
}

.prod-info .project-search-wrapper {
    margin: 0px 0px 20px !important;
}

.price-per-item__container quantity-input.quantity {
    width: 157px;
}

.quantity__button,
#myModal .quantity__input{
  height: 50px;
}

.modal-content .prod-img {
    width: 270px;
    max-width: 100%;
    min-width: 270px;
}

.modal-content .prod-img img{
  height: 364px;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 19px;
    background: #EFEBE6;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.list-view-item {
    display: flex;
    width: 100%;
    border-bottom: 1.5px solid #292521;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

button#loadMore {
    display: block;
    margin: 60px auto 0px !important;
}

.prod-price-wrapper button.button.openModal:before,
.prod-price-wrapper button.button.openModal:after{
  display: none !important;
}

  #myModal .quantity:before {
    background: transparent;
    border-radius: none;
    box-shadow: none;
}

.quantity:after {
    border: 1.25px solid rgba(41, 37, 33, 1);
    border-radius: 8px;
    box-shadow: none;
}

  #myModal .quantity__input {
    box-shadow: none !important;
    border: 0 !important;
    outline: none !important;
    background: transparent !important;
  }

  .modal-content .prod-info {
      width: 100%;
      padding: 0px;
  }

.prod-price-wrapper button {
    border-radius: 0px;
    height: auto !important;
    line-height: 26px !important;
    font-size: 14px !important;
    min-height: unset !important;
    padding: 0px;
    width: max-content !important;
    min-width: unset;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    color: rgba(41, 37, 33, 1) !important;
    background-color: transparent !important;
    text-decoration: underline;
}

.sales-tool-products-bg {
    padding-bottom: 11.944vw;
}

.prod-img img {
    border-radius: 8px;
    width: 100%;
    height: 495.7px;
    object-fit: cover;
}

.prod-img{
  width: 31%;
  height: 495.7px;
  max-width: 368px;
}

.collection-products {
    padding-top: 30px;
}

.prod-info {
    padding: 0px 0px 0px 47px;
    width: 69%;
}

div#myModal .prod-overview-wrapper h4 {
    margin-top: 19px;
    margin-bottom: 8px;
}

.prod-overview-wrapper h4{
  font-size: 16px;
  line-height: 26px;
  color: rgba(41, 37, 33, 1);
}

div#modalOverview {
    font-size: 16px;
    line-height: 26px;
    color: rgba(90, 88, 87, 1);
}

.prod-info h3.prod-title {
    font-size: 21px;
    line-height: 36px;
    color: rgba(41, 37, 33, 1);
    margin-bottom: 0px;
    letter-spacing: 0.65px;
    margin-top: 40px;
}

.prod-info p.prod-type {
    font-size: 16px;
    color: rgba(90, 88, 87, 1);
    margin-top: 1px;
    margin-bottom: 16px;
    line-height: 26px;
}

h1.main-page-title {
    margin-top: 28px;
}

.prod-info button.add_to_cart.button.primary {
    transition: 0.3s all;
    font-size: 16px;
    line-height: 23px;
    background-color: rgba(41, 37, 33, 1);
    height: 50px;
    letter-spacing: 0.65px;
    font-family: 'Neue Haas Grotesk Display Pro' !important;
    font-weight: 450 !important;
    margin-left: 20px;
}

.prod-info button.add_to_cart.button.primary:hover{
  background-color: transparent;
  color: rgba(41, 37, 33, 1);
  border-color: rgba(41, 37, 33, 1);
}

.prod-info button.add_to_cart.button.primary:hover svg path{
  stroke: rgba(41, 37, 33, 1);
}

.prod-info p.prod-price {
    font-size: 18px;
    line-height: 26px;
    color: rgba(41, 37, 33, 1);
    letter-spacing: 0.65px;
    margin-top: 0;
    margin-bottom: 0px;
}

h4.product-overview {
    margin: 19px 0px 8px;
    font-size: 16px;
    line-height: 26px;
    color: rgba(41, 37, 33, 1);
    letter-spacing: 0.65px;
}

.popup-flex-elements {
    width: 100%;
    display: flex;
}

.prod-info p.prod-desc {
    color: rgba(90, 88, 87, 1);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.65px;
    margin: 0px;
}

  .prod-price-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #292521;
    align-items: center;
    padding-bottom: 29px;
}

  button.add_to_cart.button.primary svg {
    margin-left: 15px;
    width: 18.06px;
}

.modal-content .prod-price-wrapper {
    padding-bottom: 29px;
}

.modal-content .prod-overview-wrapper{
  border-bottom: 1.5px solid #292521;
  padding-bottom: 19px;
}

.prod-info h4.product-overview {
    margin: 19px 0px 8px;
}

.modal-content .prod-info h3.prod-title {
    margin-top: 0px;
    font-size: 21px;
    line-height: 36px;
    margin-bottom: 0px;
    letter-spacing: 0.65px;
}

div#modalDescription {
    padding-bottom: 39px;
    border-bottom: 1px solid #292521;
    margin-top: 19px;
}

div#modalDescription h3 {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-weight: 450 !important;
    letter-spacing: .65px;
    font-size: 16px;
    line-height: 26px;
    color: rgba(41, 37, 33, 1);
    margin-bottom: 8px;
}

div#modalDescription h3 strong{
  font-weight: 450;
}
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 1024px) {
    
    .popup-flex-elements{
      flex-wrap: wrap;
    }
    .modal-content .prod-info button.add_to_cart.button.primary{
      margin: 20px 0px 0px;
    }
    .modal-content .prod-info .add-to-cart-wrapper {
        width: 100%;
        max-width: 100%;
    }
    .prod-info custom-box{
        width: 100%;
    }
    .list-view-item {
        flex-direction: column;
        margin-bottom: 60px;
        padding-bottom: 35px;
    }

    .modal-content .prod-price-wrapper p.prod-price {
        margin-bottom: 0px;
    }

    h1.main-page-title {
        margin-top: 30px;
        padding-bottom: 10px !important;
    }

    div#myModal .prod-info form{
      flex-flow: column;
      padding-top: 25px;
    }

    .price-per-item__container quantity-input.quantity{
      width: 100%;
    }
    
    .modal-content .list-view-item .prod-img {
        display: none;
    }

    .collection-products {
        padding-top: 0px;
    }

    .modal-content .prod-info {
        padding-top: 63px !important;
    }

    .modal-content .prod-info button.add_to_cart.button.primary {
        margin-top: 25px;
        width: 100%;
        left: 0;
        max-width: 100%;
        margin-left: 0px;
    }

    div#modalDescription ul{
      column-count: 1;
    }

    div#modalDescription ul li{
      width: 100%;
    }

    .prod-price-wrapper{
      flex-wrap: wrap;
    }

    .prod-img {
        width: 100%;
        max-width: 100%;
        height: 476.87px;
    }

    .prod-info {
        padding-top: 34.8px !important;
    }

    .prod-info h3.prod-title{
      margin-top: 0px;
    }

    .prod-price-wrapper button {
        line-height: 26px !important;
    }

    .prod-info p.prod-desc{
      margin-top: 0px;
    }

    .prod-price-wrapper{
      padding-bottom: 19px;
      flex-flow: column;
      align-items: flex-start;
    }

    .prod-info h4.product-overview {
        margin: 14px 0px 8px;
    }

    .prod-price-wrapper p.prod-price {
        display: block !important;
        width: max-content;
        margin-bottom: 30px;
    }

    /* .prod-info button.add_to_cart.button.primary{
      margin-top: 45px;
    } */

    .sales-tool-products-bg {
        padding-bottom: 115px;
    }
    
    .prod-info {
        padding: 10px 0px 0px;
        width: 100%;
    }

    .prod-img img{
      width:100%;
      max-width:100%;
      height: 476.87px;
    }

    .product-form__input.product-form__quantity {
    width: 100%;
}

.quantity:not(.sales-tools-form) {
    width: 100%;
    margin-top: 20px;
}

.modal-content {
    margin: 0% auto;
    padding: 19px 20px 56px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    border-radius: 0px;
}
    
}
.success{
  color: green;
}
.error{
  color: red;
}
.message{
  margin-top: 15px;
}
.tools-add-to-cart-wrapper{
  display: flex;
  align-items: center;
  margin-top: 40px;
}
{%- endstyle -%}

<script src="{{ 'helper.js' | asset_url }}"></script>

{% javascript %}

  document.addEventListener('DOMContentLoaded', function() {

  var openModalButtons = document.querySelectorAll('.openModal');
  var bodyClass = document.getElementById("main-page-body");

  openModalButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var getHandle = this.getAttribute('data-handle');
      var prodOverviews = this.closest('.list-view-item').querySelector('.prod-overviews').innerText;
      
      bodyClass.style.overflowY = "hidden";

      fetch(window.Shopify.routes.root + 'products/' + getHandle + '.js')
        .then(function(response) {
          return response.json();
        })
        .then(function(product) {
          console.log('product', product);
          document.getElementById('prod-img').src = product.featured_image;
          document.getElementById('modalTitle').innerText = product.title;
          document.getElementById('modalType').innerText = product.type;
          document.getElementById('modalDescription').innerHTML = product.description;
          document.getElementById('modalOverview').innerHTML = prodOverviews;
          document.getElementById('modalPrice').innerText = window.shopifyHelpers.formatPrice(product.price)  ;
          document.getElementById('variant_id').setAttribute('value', product.variants[0].id);
          document.getElementById('quantity').value = 1;

          var productSku = '';
            if (product.variants[0].sku && product.variants[0].sku.trim() !== '') {
              productSku = product.variants[0].sku;
              // console.log('Using variant SKU:', productSku);
            } else if (product.sku && product.sku.trim() !== '') {
              productSku = product.sku;
              // console.log('Using SKU:', productSku);
            } else {
              console.log('No SKU found');
            }

            // ✅ Modal SKU field update کریں:
            var modalSkuInput = document.getElementById('modal-sku-field');
            if (modalSkuInput) {
              modalSkuInput.value = productSku;
              // console.log('✅ SKU set to:', modalSkuInput.value);
            } else {
              console.error('❌ SKU input field not found!');
            }
          document.querySelectorAll('#myModal .quantity__button.disabled').forEach(function(button) {
            button.classList.remove('disabled');
          });
          document.querySelector('.message').innerHTML = '';
          if(product.variants[0].quantity_rule){
            document.getElementById('quantity').setAttribute('min', product.variants[0].quantity_rule.min);
            document.getElementById('quantity').setAttribute('max', product.variants[0].quantity_rule.max);
            document.getElementById('quantity').setAttribute('step', product.variants[0].quantity_rule.increment);
          }
          else {
            document.getElementById('quantity').setAttribute('min', 1);
            document.getElementById('quantity').setAttribute('step', 1);
            document.getElementById('quantity').removeAttribute('max');
          }
        })
        .catch(function(error) {
          console.error('Error fetching product:', error);
        });
    });
  });
    
  var modal = document.getElementById("myModal");
  var buttons = document.querySelectorAll(".openModal");
  var span = document.getElementsByClassName("close")[0];



  buttons.forEach(function(button) {
      button.onclick = function() {
        setTimeout(function() {
            modal.style.display = "block";
        }, 500);
      }
  });
    
  span.onclick = function() {
    modal.style.display = "none";
    bodyClass.style.overflowY = "auto";
  }

  // When the user clicks anywhere outside of the modal, close it
  // window.onclick = function(event) {
  //   if (event.target == modal) {
  //     modal.style.display = "none";
  //   }
  // }
});

// Add load More
document.addEventListener('DOMContentLoaded', function() {
  let itemsToShow = 8;
  const listItems = document.querySelectorAll('.list-view-item');
  const loadMoreButton = document.getElementById('loadMore');

  loadMoreButton?.addEventListener('click', function() {
    const hiddenItems = Array.from(listItems).filter(item => item.style.display === 'none');
    for (let i = 0; i < itemsToShow; i++) {
      if (hiddenItems[i]) {
        hiddenItems[i].style.display = 'flex';
      }
    }
    if (hiddenItems.length <= itemsToShow) {
      loadMoreButton.style.display = 'none';
    }
  });
});
  
{% endjavascript %}

<div class="page-width section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title font-neue-light h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>

  <div id="myModal" class="modal" style="display:none;">
    <div class="modal-content">
      <span class="close">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="36" height="36" rx="18" fill="#EFEBE6"/>
          <path d="M13.057 13.7506L22.2494 22.943M12.9038 23.0962L17.6532 18.3468L22.0962 13.9038" stroke="#292521" stroke-width="1.5"/>
        </svg>
      </span>
      <div class="list-view-item">
        <div class="prod-img">
          <img src="" id="prod-img" width="300" height="364" alt="">
        </div>
        <div class="prod-info">
          <h3 id="modalTitle" class="prod-title font-neue-roman"></h3>
          <p id="modalType" class="prod-type font-neue-roman"></p>
          <div class="prod-price-wrapper">
            {% if customer.b2b? %}
              <p id="modalPrice" class="prod-price font-neue-roman"></p>
            {% else %}
              <p style="display: block;"></p>
            {% endif %}
          </div>
          <div class="prod-overview-wrapper">
            <h4 class="font-neue-roman">Overview</h4>
            <div id="modalOverview" class="p-overview font-neue-roman"></div>
          </div>
          <div id="modalDescription" class="prod-desc font-neue-roman"></div>
          {% if customer.b2b? %}
          <sales-tools-form>
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <input type="hidden" id="variant_id" class="variant_id" name="id" value="44097530495141" />
              <input type="hidden" name="properties[SKU]" value="" id="modal-sku-field">
              {% render 'fixture-type-single' %}
              {% render 'save-parent-product' %}
              <div class="popup-flex-elements">
                <div class="product-form__input product-form__quantity">
                  <div class="price-per-item__container">
                    <quantity-input class="quantity" data-url="/products/drd5s4l-display-case" data-section="template--17669022482597__main">
                      <button class="quantity__button" name="minus" type="button">
                        <span class="visually-hidden">Decrease quantity for p.18&amp;quot; Linear DRD5S Display Case</span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2"><path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path></svg>
                      </button>
                      <input class="quantity__input quantity-input" type="number" id="quantity" name="quantity" data-cart-quantity="0" data-min="1" min="1" step="1" value="1" wfd-id="id5">
                      <button class="quantity__button" name="plus" type="button">
                        <span class="visually-hidden">Increase quantity for p.18&amp;quot; Linear DRD5S Display Case</span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path></svg>
                      </button>
                    </quantity-input>
                  </div>
                </div>
                <div class="add-to-cart-wrapper">
                  <button type="submit" class="add_to_cart button primary product-form__submit" name="add"> <span> Add to Cart </span>
                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.6375H20.0582H2Z" fill="white"/>
                      <path d="M14.5345 6.4502L20.0582 11.6375L14.5345 6.4502Z" fill="white"/>
                      <path d="M14.5345 16.8602L20.0582 11.6375L14.5345 16.8602Z" fill="white"/>
                      <path d="M2 11.6375H20.0582M20.0582 11.6375L14.5345 6.4502M20.0582 11.6375L14.5345 16.8602" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
                  </button>
                  <div class="message"></div>
                </div>
              </div>
            </form>
            </sales-tools-form>
          {% else %} 
            {% render 'contact-us-button' %} 
          {% endif %}
        </div>
      </div>
    </div> 
  </div>

  <div class="sales-tool-products-bg">
    {% if section.settings.selected_collection %}
      <div class="collection-products">
        {% assign collection = collections[section.settings.selected_collection] %}
        {% if collection.products.size > 0 %}
          <div class="list-view-wrapper">
            {% for product in collection.products %}
              {%- liquid
                assign product_sku = product.sku
                if product_sku == blank and product.selected_or_first_available_variant.sku != blank
                  assign product_sku = product.selected_or_first_available_variant.sku
                endif
                if product_sku == blank and product.variants[0].sku != blank
                  assign product_sku = product.variants[0].sku
                endif
              -%}
              <div class="list-view-item" style="{% if forloop.index > 8 %}display: none;{% endif %}">
                <div class="prod-img">
                  <img src="{{ product.featured_image | img_url: 'large' }}" width="368" height="496" alt="{{ product.title }}">
                </div>
                <div class="prod-info">
                  <h3 class="prod-title font-neue-roman">{{ product.title }}</h3>
                  <p class="prod-type font-neue-roman">{{ product.type }}</p>
                  <div class="prod-price-wrapper">
                    {% if customer.b2b? %}
                      <p class="prod-price font-neue-roman">{{ product.price | money }}</p>
                    {% else %}
                      <p style="display: block;"></p>
                    {% endif %}
                    <button class="button openModal font-calling-code" data-handle="{{ product.handle }}">+ View More</button>
                  </div>
                  {% if product.metafields.custom.overview %}
                    <h4 class="product-overview font-neue-roman">Overview</h4>
                  {% endif %}
                  <p class="prod-desc prod-overviews font-neue-roman">{{ product.metafields.custom.overview }}</p>
                  
                  {% if customer.b2b? %}
                  
                    <sales-tools-form>
                      <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="properties[SKU]" value="{{ product_sku }}">
                        <input type="hidden" class="variant_id" name="id" value="{{ product.variants.first.id }}" />
                        {% render 'fixture-type-single' %}
                        {% render 'save-parent-product',
                          current_product: product,
                          loop_index: forloop.index,
                          product_sku: product_sku
                        %}
                        <div class="tools-add-to-cart-wrapper">
                          <div>
                            <quantity-input class="quantity sales-tools-form">
                              <button class="quantity__button" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                                </span>
                                {% render 'icon-minus' %}
                              </button>
                              <input
                                class="quantity__input quantity-input"
                                type="number"
                                name="quantity"
                                id="Quantity-{{ section.id }}"
                                data-cart-quantity="{{ cart_qty }}"
                                data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                                  data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                                  max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                                {% endif %}
                                step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                                value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                form="{{ product_form_id }}"
                              >
                              <button class="quantity__button" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                                </span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                          </div>
                          <div>
                            <button type="submit" class="add_to_cart button primary font-neue-roman">
                              <span>Add to Cart </span>
                              <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 11.6375H20.0582H2Z" fill="white"/>
                                <path d="M14.5345 6.4502L20.0582 11.6375L14.5345 6.4502Z" fill="white"/>
                                <path d="M14.5345 16.8602L20.0582 11.6375L14.5345 16.8602Z" fill="white"/>
                                <path d="M2 11.6375H20.0582M20.0582 11.6375L14.5345 6.4502M20.0582 11.6375L14.5345 16.8602" 
                                      stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                              </svg>
                            </button>
                            
                          </div>
                          
                        </div>
                        <div class="message"></div>
                      </form>
                    </sales-tools-form>
                  {% else %}
                    {% render 'contact-us-button' %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
          {% if collection.products.size > 8 %}
            <button id="loadMore" class="tranparent-btn-style font-neue">Load More</button>
          {% endif %}
        {% else %}
          <p>No products found in this collection.</p>
        {% endif %}
      </div>
    {% else %}
      <p>Please select a collection to display products.</p>
    {% endif %}
  </div>
</div>
<script src="{{ 'cartClassSalesTools.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
     {
      "type": "collection",
      "id": "selected_collection",
      "label": "Select Collection",
      "info": "Choose the collection from which products will be displayed."
    }
  ]
}
{% endschema %}
